@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
    height: 100vh;
   
}

.container {
    display: flex;
    align-items: center;
}

.weatherIcon {
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    display: block;
    height: 25%;
    margin: 2rem auto;

}

.weather-input {
    width: 25%;
    position: fixed;
    inset: 0;
    background:  #000000;
    padding: 1rem 2.5rem;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.input-group input {
    background: white;
    text-transform: capitalize;
    padding: 1rem;
    font-size: 15px;
    border-radius: 6px;
    width: 100%;
    outline: none;
    border: none;
}

.input-group .converter {
    position: absolute;
    right: 45px;
    border: none;
    outline: none;
    font-size: 18px;
}

.input-group .fa-search {
    position: absolute;
    right: 15px;
    color: #909090;
    cursor: pointer;
    font-size: 22px;
}

.weather-output {
    width: 75%;
    position: fixed;
    inset: 0;
    margin-left: 25%;
    padding: 2rem;
    background: white;
    overflow: auto;
    color:white;
}

.weather-input .feelsLike,
.weather-input .description,
.weather-input .date,
.weather-input .city {
    padding: 10px 0;
    color:white;

}

.temperature {
    font-size: 5rem;
    text-align: center;
    display: flex;
    font-weight: 300;
    color: white;
}

.temperature span{
    font-size: 2rem;
    margin-top: 20px;
    color: white;
    
}
.Highlight {
    display: grid;
    grid-template-columns: repeat(2, 420px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 50px;
    color: white;
}

.Highlight div, .forecast div{
    height: 200px;
    display: grid;
    justify-items: center;
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
    padding: 1rem;

}
.forecast{
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-auto-flow: row; 
    row-gap: 1rem;
    column-gap: 10px;
}

.Highlight i {
    font-size: 45px;
}

.sun span {
    align-items: center;
    display: flex;
    gap: 10px;
}
::-webkit-scrollbar{
   width: 5px;
 
}

::-webkit-scrollbar-thumb{
    background: #83838398 ;
}
.forecast-desc{
    color: #7f7f7f;
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 5px;
    font-style: italic;

}

.description i{
    font-size: 25px;
}

.heading{
    text-align: center;
    margin: 1rem 0;
    font-weight: 700;
    font:bold;
    color: black;
}
#preloader{
    background: #000 url(309.gif) no-repeat center;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
