@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
}

.weather-input {
    width: 25%;
    position: fixed;
    inset: 0;
    background: #78c1f3;
    padding: 1rem 2.5rem;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem;
}
.input-group input{
    background: white  ;
}